<mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile class="DivTotal" [colspan]="1" rowspan="1">  
        <div class="DivLogin">
            <div class="PrimeiraParte">
                <div class="PrimeiraParte-Cima">
                    <h1 class="TituloPrimeiraParte-Cima"> Faça login agora e <br> entre para o nosso time! </h1>
                </div>

                <div class="PrimeiraParte-Baixo">
                    <div class="ImagemPrimeiraParte-Baixo">                        
                    </div>
                </div>
            </div>

            <div class="SegundaParte">
                <div class="SegundaParte-CaixaLogin">
                    <div class="CaixaLogin-Titulo">
                        <h1 class="TituloCaixaLogin-Cima"> LOGIN </h1>
                    </div>

                    <div class="CaixaLogin-Login">
                        <h1 class="TituloInputCaixaLogin-Cima"> Usuário </h1>
                        <input placeholder="Digite o usuário...">
                    </div>

                    <div class="CaixaLogin-Senha">
                        <h1 class="TituloInputCaixaLogin-Cima"> Senha </h1>
                        <input placeholder="Digite a senha...">
                    </div>

                    <div class="CaixaLogin-Botao">
                        <button class="BotaoCaixaLogin">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>